@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Prompt:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
