@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Prompt:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

/* Media query for small screens (e.g., phones) */
@media (max-width: 768px) {
    #main {
        padding: 1rem;
    }
}

/* Media query for medium-sized screens (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    #main {
        padding: 1.5rem;
    }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 1025px) {
    #main {
        padding: 2rem;
    }
}
